In [13]:
"""
filename: 

Check that CSV data! Are they using the right stuff for backtesting? 
Bad marketing?!?

"""
# Imports here 
import pandas as pd 
from datetime import date, timedelta
from dateutil import relativedelta
import datetime
import time
from optparse import OptionParser
import numpy as np
import sqlite3

# Paths defined here
onedrive = "C://Users/clj585/OneDrive - Northwestern University/"
out_pth = "data_feeds/estimize/data/"
raw_pth = onedrive + "data_feeds/estimize/data/Estimize_CSVS/"

# Load CSVs here
cons = pd.read_csv(raw_pth + "combined_estimates_new.csv")
est = pd.read_csv(raw_pth + "combined_consensus_new.csv")
cons

C:\Users\clj585\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (2,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,estimate_id,eps,revenue,created_at,flagged,release_id,fiscal_quarter,fiscal_year,reported.eps,reported.revenue,...,instrument_sector,instrument_industry,user_id,username,user_bio1,user_bio2,user_bio3,user_created_at,point_in_time_ticker,point_in_time_cusip
0,95333,0.2250,26430.0,2010-01-02T17:00:00Z,False,92907,1,2011,0.230,26741.0,...,Information Technology,Computers & Peripherals,1070,postsateventide,NaN,NaN,NaN,2011-11-01T00:00:00Z,AAPL,037833100
1,95298,0.1575,19530.0,2010-09-28T16:00:00Z,False,92897,4,2010,0.165,20343.0,...,Information Technology,Computers & Peripherals,1065,DennisHildebrand,NaN,NaN,NaN,2011-11-01T00:00:00Z,AAPL,037833100
2,95281,0.1775,20500.0,2010-09-28T16:00:00Z,False,92897,4,2010,0.165,20343.0,...,Information Technology,Computers & Peripherals,1074,asymco,NaN,NaN,NaN,2011-11-01T00:00:00Z,AAPL,037833100
3,95275,0.1700,20560.0,2010-09-29T16:00:00Z,False,92897,4,2010,0.165,20343.0,...,Information Technology,Computers & Peripherals,1559,deletepls,Non Professional,Academia,NaN,2011-11-01T00:00:00Z,AAPL,037833100
4,95292,0.1700,20010.0,2010-09-30T16:00:00Z,False,92897,4,2010,0.165,20343.0,...,Information Technology,Computers & Peripherals,1068,JeffFosberg,NaN,NaN,NaN,2011-11-01T00:00:00Z,AAPL,037833100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741808,3923291,2.7700,58500.0,2022-03-31T23:26:32Z,False,197924,2,2023,NaN,NaN,...,Information Technology,Software,16749,gabrielyang,Financial Professional,Independent,Other,2013-10-08T14:55:06Z,MSFT,594918104
1741809,3923296,26.7500,55800.0,2022-04-01T02:49:15Z,False,188360,1,2022,NaN,NaN,...,Information Technology,Internet Software & Services,61431,Analyst_Holly,Non Professional,Student,NaN,2016-02-21T17:01:58Z,GOOGL,02079K305
1741810,3923298,2.8500,28900.0,2022-04-01T02:52:44Z,False,189109,1,2022,NaN,NaN,...,Information Technology,Internet Software & Services,61431,Analyst_Holly,Non Professional,Student,NaN,2016-02-21T17:01:58Z,FB,30303M102
1741811,3923300,0.8500,30150.0,2022-04-01T02:55:39Z,False,189090,1,2022,NaN,NaN,...,Consumer Discretionary,Media,61431,Analyst_Holly,Non Professional,Student,NaN,2016-02-21T17:01:58Z,CMCSA,20030N101
1741812,3923307,-0.0400,350.0,2022-04-01T03:23:10Z,False,188355,1,2022,NaN,NaN,...,Information Technology,Communications Equipment,805310,Analyst_7939708,Non Professional,Other,Other,2022-04-01T03:22:19Z,INFN,45667G103

In [14]:
# Check estimates data frame
est

,date,ticker,cusip,instrument_id,instrument_name,instrument_sector,instrument_industry,fiscal_year,fiscal_quarter,reports_at,...,estimize.revenue.low,estimize.revenue.sd,estimize.revenue.count,wallstreet.eps,wallstreet.revenue,actual.eps,actual.revenue,release_id,point_in_time_ticker,point_in_time_cusip
0,2013-01-31,MLM,573284106,1,Martin Marietta Materials Inc.,Materials,Construction Materials,2012,4,2013-02-12T06:00:00-05:00,...,422.90,24.763149,4.0,NaN,NaN,0.46,504.100,170,MLM,573284106
1,2013-02-01,MLM,573284106,1,Martin Marietta Materials Inc.,Materials,Construction Materials,2012,4,2013-02-12T06:00:00-05:00,...,422.90,24.763149,4.0,NaN,NaN,0.46,504.100,170,MLM,573284106
2,2013-02-02,MLM,573284106,1,Martin Marietta Materials Inc.,Materials,Construction Materials,2012,4,2013-02-12T06:00:00-05:00,...,422.90,24.763149,4.0,NaN,NaN,0.46,504.100,170,MLM,573284106
3,2013-02-03,MLM,573284106,1,Martin Marietta Materials Inc.,Materials,Construction Materials,2012,4,2013-02-12T06:00:00-05:00,...,422.90,22.185673,5.0,NaN,NaN,0.46,504.100,170,MLM,573284106
4,2013-02-04,MLM,573284106,1,Martin Marietta Materials Inc.,Materials,Construction Materials,2012,4,2013-02-12T06:00:00-05:00,...,422.90,19.102785,7.0,NaN,NaN,0.46,504.100,170,MLM,573284106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6973355,2022-02-26,CRON,22717L101,3337,Cronos Group Inc.,Health Care,Pharmaceuticals,2021,4,2022-03-01T07:48:03-05:00,...,23.68,2.471023,3.0,-0.1050,23.901000,-0.36,25.795,210178,CRON,22717L101
6973356,2022-02-27,CRON,22717L101,3337,Cronos Group Inc.,Health Care,Pharmaceuticals,2021,4,2022-03-01T07:48:03-05:00,...,23.68,2.471023,3.0,-0.1050,23.901000,-0.36,25.795,210178,CRON,22717L101
6973357,2022-02-28,CRON,22717L101,3337,Cronos Group Inc.,Health Care,Pharmaceuticals,2021,4,2022-03-01T07:48:03-05:00,...,23.68,2.471023,3.0,-0.1050,23.901000,-0.36,25.795,210178,CRON,22717L101
6973358,2022-03-01,CRON,22717L101,3337,Cronos Group Inc.,Health Care,Pharmaceuticals,2021,4,2022-03-01T07:48:03-05:00,...,23.68,2.471023,3.0,-0.1050,23.901000,-0.36,25.795,210178,CRON,22717L101
6973359,2022-03-08,NVEI,67079A102,3351,Nuvei Corp.,Information Technology,IT Services,2021,4,2022-03-08T06:00:00-05:00,...,202.00,4.839258,3.0,0.4509,209.230606,0.47,211.875,211629,NVEI,67079A102

In [15]:
# Get column names 
print(cons.columns)
print("EST columns: ")
print(est.columns)

Index(['estimate_id', 'eps', 'revenue', 'created_at', 'flagged', 'release_id',
       'fiscal_quarter', 'fiscal_year', 'reported.eps', 'reported.revenue',
       'reports_at', 'instrument_id', 'ticker', 'cusip', 'instrument_name',
       'instrument_sector', 'instrument_industry', 'user_id', 'username',
       'user_bio1', 'user_bio2', 'user_bio3', 'user_created_at',
       'point_in_time_ticker', 'point_in_time_cusip'],
      dtype='object')
EST columns:
Index(['date', 'ticker', 'cusip', 'instrument_id', 'instrument_name',
       'instrument_sector', 'instrument_industry', 'fiscal_year',
       'fiscal_quarter', 'reports_at', 'estimize.eps.weighted',
       'estimize.eps.high', 'estimize.eps.low', 'estimize.eps.sd',
       'estimize.eps.count', 'estimize.revenue.weighted',
       'estimize.revenue.high', 'estimize.revenue.low', 'estimize.revenue.sd',
       'estimize.revenue.count', 'wallstreet.eps', 'wallstreet.revenue',
       'actual.eps', 'actual.revenue', 'release_id', 'point_in_time_ticker',
       'point_in_time_cusip'],
      dtype='object')

In [18]:
cons[cons['point_in_time_ticker']=="AAPL"]
cons_aapl = cons[['ticker', "cusip", "point_in_time_ticker", "reports_at", 
                 "created_at", "release_id"]]
cons_aapl = cons_aapl[cons_aapl['point_in_time_ticker']=="AAPL"]
cons_aapl

,ticker,cusip,point_in_time_ticker,reports_at,created_at,release_id
0,AAPL,037833100,AAPL,2011-01-18T21:00:00Z,2010-01-02T17:00:00Z,92907
1,AAPL,037833100,AAPL,2010-10-18T20:00:00Z,2010-09-28T16:00:00Z,92897
2,AAPL,037833100,AAPL,2010-10-18T20:00:00Z,2010-09-28T16:00:00Z,92897
3,AAPL,037833100,AAPL,2010-10-18T20:00:00Z,2010-09-29T16:00:00Z,92897
4,AAPL,037833100,AAPL,2010-10-18T20:00:00Z,2010-09-30T16:00:00Z,92897
...,...,...,...,...,...,...
1741744,AAPL,037833100,AAPL,2022-08-02T20:00:00Z,2022-03-31T19:06:53Z,192170
1741778,AAPL,037833100,AAPL,2022-04-28T20:00:00Z,2022-03-31T19:48:46Z,189120
1741779,AAPL,037833100,AAPL,2022-08-02T20:00:00Z,2022-03-31T19:48:46Z,192170
1741780,AAPL,037833100,AAPL,2022-11-03T20:00:00Z,2022-03-31T19:48:47Z,195073
1741781,AAPL,037833100,AAPL,2023-01-31T21:00:00Z,2022-03-31T19:48:47Z,197909

In [4]:
"""
Moment of truth - test CoTerra energy (CUSIP no switch, but ticker did)
and Heinz/Kraft-Heinz 

"""
cons = cons[['ticker', 'cusip', 'point_in_time_cusip', "point_in_time_ticker", "created_at"]]
est = est[['ticker', 'cusip', 'point_in_time_cusip', "point_in_time_ticker", "date"]]
cons[cons['point_in_time_ticker']=="KHC"]

,ticker,cusip,point_in_time_cusip,point_in_time_ticker,created_at
6437,KHC,500754106,500754106,KHC,2012-06-13T19:26:11Z
6439,KHC,500754106,500754106,KHC,2012-06-13T19:32:54Z
9855,KHC,500754106,500754106,KHC,2012-07-30T19:34:58Z
9957,KHC,500754106,500754106,KHC,2012-07-31T19:38:27Z
10123,KHC,500754106,500754106,KHC,2012-08-01T23:16:47Z
...,...,...,...,...,...
1733215,KHC,500754106,500754106,KHC,2022-02-19T08:55:48Z
1733216,KHC,500754106,500754106,KHC,2022-02-19T08:55:48Z
1733217,KHC,500754106,500754106,KHC,2022-02-19T08:55:48Z
1733218,KHC,500754106,500754106,KHC,2022-02-19T08:55:48Z
1733724,KHC,500754106,500754106,KHC,2022-02-20T18:16:23Z

In [5]:
cons[cons['point_in_time_ticker']=="HNZ"]

,ticker,cusip,point_in_time_cusip,point_in_time_ticker,created_at
10292,HNZ,423074AL7,423074103,HNZ,2012-08-05T12:12:10Z
10739,HNZ,423074AL7,423074103,HNZ,2012-08-10T14:00:41Z
10762,HNZ,423074AL7,423074103,HNZ,2012-08-10T21:56:30Z
11175,HNZ,423074AL7,423074103,HNZ,2012-08-19T16:43:38Z
11286,HNZ,423074AL7,423074103,HNZ,2012-08-21T20:27:24Z
11383,HNZ,423074AL7,423074103,HNZ,2012-08-23T07:51:36Z
11389,HNZ,423074AL7,423074103,HNZ,2012-08-23T15:11:15Z
11445,HNZ,423074AL7,423074103,HNZ,2012-08-25T22:45:58Z
11448,HNZ,423074AL7,423074103,HNZ,2012-08-26T04:47:08Z
11451,HNZ,423074AL7,423074103,HNZ,2012-08-26T13:31:30Z
11477,HNZ,423074AL7,423074103,HNZ,2012-08-27T14:58:20Z
11485,HNZ,423074AL7,423074103,HNZ,2012-08-28T00:08:34Z
11488,HNZ,423074AL7,423074103,HNZ,2012-08-28T05:14:53Z
15360,HNZ,423074AL7,423074103,HNZ,2012-10-24T17:40:05Z
16984,HNZ,423074AL7,423074103,HNZ,2012-11-02T00:20:27Z
17102,HNZ,423074AL7,423074103,HNZ,2012-11-02T21:52:43Z
17303,HNZ,423074AL7,423074103,HNZ,2012-11-05T17:25:39Z
17603,HNZ,423074AL7,423074103,HNZ,2012-11-07T22:44:52Z
17659,HNZ,423074AL7,423074103,HNZ,2012-11-08T19:34:25Z
17671,HNZ,423074AL7,423074103,HNZ,2012-11-08T21:57:18Z
17673,HNZ,423074AL7,423074103,HNZ,2012-11-08T22:01:05Z
17682,HNZ,423074AL7,423074103,HNZ,2012-11-08T22:40:25Z
18097,HNZ,423074AL7,423074103,HNZ,2012-11-16T15:27:00Z
18099,HNZ,423074AL7,423074103,HNZ,2012-11-16T17:07:50Z
18164,HNZ,423074AL7,423074103,HNZ,2012-11-17T12:28:07Z
18179,HNZ,423074AL7,423074103,HNZ,2012-11-17T20:20:02Z
18234,HNZ,423074AL7,423074103,HNZ,2012-11-19T15:45:34Z
18245,HNZ,423074AL7,423074103,HNZ,2012-11-19T15:54:37Z
18259,HNZ,423074AL7,423074103,HNZ,2012-11-19T16:11:07Z
18282,HNZ,423074AL7,423074103,HNZ,2012-11-19T18:32:58Z
18312,HNZ,423074AL7,423074103,HNZ,2012-11-19T22:50:18Z
18327,HNZ,423074AL7,423074103,HNZ,2012-11-20T03:38:48Z
18334,HNZ,423074AL7,423074103,HNZ,2012-11-20T14:05:27Z
26544,HNZ,423074AL7,423074103,HNZ,2013-02-09T22:40:55Z

In [6]:
est[est['point_in_time_ticker']=="KHC"]

       ticker      cusip point_in_time_cusip point_in_time_ticker        date
236252    KHC  500754106           500754106                  KHC  2012-08-01
236253    KHC  500754106           500754106                  KHC  2012-08-02
236377    KHC  500754106           500754106                  KHC  2020-03-29
236378    KHC  500754106           500754106                  KHC  2020-03-30
236379    KHC  500754106           500754106                  KHC  2020-03-31
...       ...        ...                 ...                  ...         ...
236873    KHC  500754106           500754106                  KHC  2022-03-27
236874    KHC  500754106           500754106                  KHC  2022-03-28
236875    KHC  500754106           500754106                  KHC  2022-03-29
236876    KHC  500754106           500754106                  KHC  2022-03-30
236877    KHC  500754106           500754106                  KHC  2022-03-31

[503 rows x 5 columns]

In [7]:
est[est['point_in_time_ticker']=="HNZ"]

       ticker      cusip point_in_time_cusip point_in_time_ticker        date
196176    HNZ  423074AL7           423074103                  HNZ  2012-08-10
196177    HNZ  423074AL7           423074103                  HNZ  2012-08-11
196178    HNZ  423074AL7           423074103                  HNZ  2012-08-12
196179    HNZ  423074AL7           423074103                  HNZ  2012-08-13
196180    HNZ  423074AL7           423074103                  HNZ  2012-08-14
196181    HNZ  423074AL7           423074103                  HNZ  2012-08-15
196182    HNZ  423074AL7           423074103                  HNZ  2012-08-16
196183    HNZ  423074AL7           423074103                  HNZ  2012-08-17
196184    HNZ  423074AL7           423074103                  HNZ  2012-08-18
196185    HNZ  423074AL7           423074103                  HNZ  2012-08-19
196186    HNZ  423074AL7           423074103                  HNZ  2012-08-20
196187    HNZ  423074AL7           423074103                  HNZ  2012-08-21
196188    HNZ  423074AL7           423074103                  HNZ  2012-08-22
196189    HNZ  423074AL7           423074103                  HNZ  2012-08-23
196190    HNZ  423074AL7           423074103                  HNZ  2012-08-24
196191    HNZ  423074AL7           423074103                  HNZ  2012-08-25
196192    HNZ  423074AL7           423074103                  HNZ  2012-08-26
196193    HNZ  423074AL7           423074103                  HNZ  2012-08-27
196194    HNZ  423074AL7           423074103                  HNZ  2012-08-28
196195    HNZ  423074AL7           423074103                  HNZ  2012-11-02
196196    HNZ  423074AL7           423074103                  HNZ  2012-11-03
196197    HNZ  423074AL7           423074103                  HNZ  2012-11-04
196198    HNZ  423074AL7           423074103                  HNZ  2012-11-05
196199    HNZ  423074AL7           423074103                  HNZ  2012-11-06
196200    HNZ  423074AL7           423074103                  HNZ  2012-11-07
196201    HNZ  423074AL7           423074103                  HNZ  2012-11-08
196202    HNZ  423074AL7           423074103                  HNZ  2012-11-09
196203    HNZ  423074AL7           423074103                  HNZ  2012-11-10
196204    HNZ  423074AL7           423074103                  HNZ  2012-11-11
196205    HNZ  423074AL7           423074103                  HNZ  2012-11-12
196206    HNZ  423074AL7           423074103                  HNZ  2012-11-13
196207    HNZ  423074AL7           423074103                  HNZ  2012-11-14
196208    HNZ  423074AL7           423074103                  HNZ  2012-11-15
196209    HNZ  423074AL7           423074103                  HNZ  2012-11-16
196210    HNZ  423074AL7           423074103                  HNZ  2012-11-17
196211    HNZ  423074AL7           423074103                  HNZ  2012-11-18
196212    HNZ  423074AL7           423074103                  HNZ  2012-11-19
196213    HNZ  423074AL7           423074103                  HNZ  2012-11-20

In [8]:
cons[cons['point_in_time_ticker']=="COG"]

,ticker,cusip,point_in_time_cusip,point_in_time_ticker,created_at
4074,COG,000000001,000000001,COG,2012-04-25T23:47:53Z
28537,COG,000000001,000000001,COG,2013-02-21T19:32:12Z
39561,COG,000000001,000000001,COG,2013-06-10T21:51:00Z
40817,COG,000000001,000000001,COG,2013-07-14T14:26:46Z
41229,COG,000000001,000000001,COG,2013-07-17T16:02:46Z
...,...,...,...,...,...
1639436,COG,000000001,000000001,COG,2021-05-27T00:03:27Z
1646678,COG,000000001,000000001,COG,2021-07-09T21:57:19Z
1656614,COG,000000001,000000001,COG,2021-07-27T16:29:43Z
1657648,COG,000000001,000000001,COG,2021-07-27T23:32:00Z
1657649,COG,000000001,000000001,COG,2021-07-27T23:35:28Z

In [9]:
cons[cons['point_in_time_ticker']=="CTRA"]

,ticker,cusip,point_in_time_cusip,point_in_time_ticker,created_at
1705771,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:11Z
1705772,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:12Z
1705773,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:12Z
1705774,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:12Z
1705775,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:12Z
1705776,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:13Z
1705777,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:14Z
1705778,CTRA,127097103,127097103,CTRA,2021-12-08T11:07:16Z
1707545,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:43Z
1707546,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:43Z
1707547,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:43Z
1707548,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:43Z
1707549,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:44Z
1707550,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:45Z
1707551,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:46Z
1707552,CTRA,127097103,127097103,CTRA,2021-12-22T15:52:48Z
1709330,CTRA,127097103,127097103,CTRA,2022-01-05T14:58:58Z
1709331,CTRA,127097103,127097103,CTRA,2022-01-05T14:58:59Z
1709332,CTRA,127097103,127097103,CTRA,2022-01-05T14:59:00Z
1709333,CTRA,127097103,127097103,CTRA,2022-01-05T14:59:00Z
1709334,CTRA,127097103,127097103,CTRA,2022-01-05T14:59:01Z
1709335,CTRA,127097103,127097103,CTRA,2022-01-05T14:59:02Z
1709336,CTRA,127097103,127097103,CTRA,2022-01-05T14:59:03Z
1713537,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:24Z
1713538,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:25Z
1713539,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:27Z
1713540,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:28Z
1713541,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:29Z
1713542,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:29Z
1713543,CTRA,127097103,127097103,CTRA,2022-01-19T15:33:30Z
1722754,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:36Z
1722755,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:36Z
1722756,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:36Z
1722757,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:36Z
1722758,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:36Z
1722759,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:36Z
1722760,CTRA,127097103,127097103,CTRA,2022-02-02T14:40:37Z
1727576,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:36Z
1727577,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:37Z
1727578,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:37Z
1727579,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:37Z
1727580,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:37Z
1727581,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:38Z
1727582,CTRA,127097103,127097103,CTRA,2022-02-09T14:25:38Z
1732304,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:34Z
1732305,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:35Z
1732306,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:36Z
1732307,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:38Z
1732308,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:39Z
1732309,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:41Z
1732310,CTRA,127097103,127097103,CTRA,2022-02-17T15:19:42Z
1733701,CTRA,127097103,127097103,CTRA,2022-02-20T17:50:48Z
1734066,CTRA,127097103,127097103,CTRA,2022-02-21T02:06:19Z
1734360,CTRA,127097103,127097103,CTRA,2022-02-21T15:22:58Z
1734814,CTRA,127097103,127097103,CTRA,2022-02-22T14:10:00Z
1734815,CTRA,127097103,127097103,CTRA,2022-02-22T14:10:53Z
1735531,CTRA,127097103,127097103,CTRA,2022-02-23T18:17:18Z

In [10]:
est[est['point_in_time_ticker']=="CTRA"]

        ticker      cusip point_in_time_cusip point_in_time_ticker        date
6973295   CTRA  127097103           127097103                 CTRA  2022-02-20
6973296   CTRA  127097103           127097103                 CTRA  2022-02-21
6973297   CTRA  127097103           127097103                 CTRA  2022-02-22
6973298   CTRA  127097103           127097103                 CTRA  2022-02-23

In [11]:
est[est['point_in_time_ticker']=="COG"]        # COG is old!

        ticker      cusip point_in_time_cusip point_in_time_ticker        date
1888477    COG  000000001           000000001                  COG  2013-07-23
1888478    COG  000000001           000000001                  COG  2013-07-24
1888479    COG  000000001           000000001                  COG  2014-02-20
1888480    COG  000000001           000000001                  COG  2014-04-23
1888481    COG  000000001           000000001                  COG  2014-04-24
...        ...        ...                 ...                  ...         ...
1896608    COG  000000001           000000001                  COG  2021-07-26
1896609    COG  000000001           000000001                  COG  2021-07-27
1896610    COG  000000001           000000001                  COG  2021-07-28
1896611    COG  000000001           000000001                  COG  2021-07-29
1896612    COG  000000001           000000001                  COG  2021-07-30

[8136 rows x 5 columns]